@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    width: 100%;
    padding: 40px;
    list-style: none;
    display: flex;
    justify-content:center;
    background-color: chartreuse;
}
ul li a{
    text-decoration: none;
    margin: 0 40px;
    font-size: 40px;
    color: rgb(21, 12, 12);
    transition: 0.4s;
    font-family: "Konkhmer Sleokchher", system-ui;

}
a :hover{
    transform: scale(0.8);
}
